/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
/* text-align: center; */
overflow-x: hidden;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	text-align: left;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

p {text-align: left;}

*
{
margin: 0 auto 0 auto;
}

h1 {
	font-size: 24px;
}

/* ......................NAVBAR........................ */
.nav__content {
	display: flex;
	border-bottom: 1px solid grey;
	/* margin: 0 50px; */
}


#header
{
color: black;
padding-top: 30px;
 /* width:581px;
height:50px;
font-size: 24px;  */
}

.nav__list {
	display: flex;
}

.nav__list a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}

.nav__list a:hover{
	color: grey;
}



.menu
{
/* background-image:url(menu_background.png); */
/* height:54px;
width:527px; */
/* color: #000000; */
padding-top: 30px;
/* display: flex;
flex-direction: row; */
}

/* .menu ul { */
	/* padding: 0px; */
	/* list-style-type: none; */
	/* text-align:left; */
	/* height:40px; */
	/* padding-top: 30px; */
/* } */

.menu li {
	margin: 0 10px;
	list-style-type: none;
	list-style:none;
}

#content
{
background-image:url(content_back_shadow.png);
background-repeat:repeat-y;
width:581px;
}

#content #container
{
float:left;
background-image:url(gradient_rectangle_back.png);
background-repeat:repeat-x;
background-color:#4586F1;
width:547px;
margin-left:14px;
clear:both;
}

/* #nussinov {
	display:block;
	float:left;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	padding-right:2px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	width:60px;
}

#hmm {
	display:block;
	float:left;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	padding-right:2px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	width:45px;
}

#phylo {
	display:block;
	float:left;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	width:60px;
}

#needleman {
	display:block;
	float:left;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	padding-right:2px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	width:125px;
}

#smith {
	display:block;
	float:left;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	width:115px;
}

#home {
	display:block;
	float:left;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	padding-left:40px;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	width:50px;
} */



#menu ul li a:hover{
color:#65A9ED;
}

#content #main
{
display:block;
width:527px;
clear:both
}

#content #text
{
margin:0;
padding:0;
width:497px;
display:block;
background-color:#FFFFFF;
float:left;
min-height:400px;
clear:both;
padding-left:15px;
padding-right:15px;
}

.clear {
    clear:both;
  }


#content #text h1, #content #text h1 a, #content #text h1 a:visited
{
margin:0;
padding:0;
color:#093175;
/* font-size:24px; */
margin-bottom:7px;
margin-top:7px;
}

#content #text p
{
margin-top:5px;
margin-bottom:5px;
padding:0;
}


#footer
{
background-image:url(footer.png);
background-repeat:no-repeat;
width:581px;
height:60px;
font-size:11px;
color:#C5DDFA;
text-align:right;
}

#footer p
{
text-align:center;
padding-top:20px;
}

#footer a, #footer a:visited
{
font-size:11px;
color:#C5DDFA;
text-decoration:none;
}