<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style.css')}}' />
        <title>Bioinformatics alogorithm calculator</title>
    </head>
    <body>
        <div id='page'>
        	<div id='header'>
                <h1>Bioinformatics algorithms calculator</h1>
            </div>            
        </div>
        <div id='content'>
            <div id='container'>
                <div id='main'>
                    <div id='menu'>
                        <ul>
                            <li><a href='/' id='home'>Home</a></li>
                            <li><a href='/smith-waterman' id='smith'>Smith-Waterman</a></li>
                            <li><a href='/needleman-wunsch' id='needleman'>Needleman-Wunsch</a></li>
                            <li><a href='/upgma' id='phylo'>UPGMA</a></li>
                            <li><a href='/hmm' id='hmm'>HMM</a></li>
                            <li><a href='/nussinov' id='nussinov'>Nussinov</a></li>
                        </ul>
                    </div>
                    <div id='text'>
                        <h1>Gonna put a summary here</h1>
                        <p>It will sound really smart</p>
                    </div>
                </div>
            </div>
            <div class='clear'></div>
            <div id='footer'>
                <p><a href='http://www.bryantsmith.com/template'>adapted from free template provided</a> by <a href='http://www.bryantsmith.com'>Bryant Smith</a></p>
            </div>
        </div>
    </body>
</html>