<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <link rel="stylesheet" href="/static/bootstrap-4.6.1-dist/css/bootstrap.css">
        <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style.css')}}' >
        <link rel='stylesheet' type='text/css' href='/static/style.css' />
        <title>Bioinformatics Alogorithm Calculator</title>
    </head>
    <body>     
        <nav>
            <div class="nav__content">
                <div class='header ml-5'>
                    <h1>Needleman-Wunsch Algorithm</h1>
                </div>
                <div class='nav__list__container ml-auto mr-5'>
                    <ul class="nav__list">
                        <li><a href='/templates/home.html'>Home</a></li>
                        <li><a href='/templates/smith_waterman.html'>Smith-Waterman</a></li>
                        <li><a href='/templates/phylogenetic_tree.html'>UPGMA</a></li>
                        <li><a href='/templates/hmm.html'>HMM</a></li>
                        <li><a href='/templates/nussinov.html'>Nussinov</a></li>
                    </ul>
                </div>
            </div>          
        </nav>
        <div id='text'>
            <h1>Global alignment</h1>
            <p>explanation of equation used</p>
            <h1>Input values</h1>
            <form action='{{ url_for('needleman_results') }}' method='POST'>
                <h3>First sequence</h3>
                <input type='text' name='sequence1'>
                <h3>Second sequence</h3>
                <input type='text' name='sequence2'>
                <input type='submit'>
            </form>
        </div>
                
            
        
    </body>
</html>