<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
        <title>Bioinformatics alogorithm calculator</title>
        <script type = "text/javascript">  
            function algorithmSelect() {   
                alert(window.location.href);
                if (window.location.href.indexOf("smith-waterman") !== -1) {
                    if (window.location.href.indexOf("smith-waterman/results") !== -1) {
                        // alert("window.location.href");
                        document.getElementById("text").outerHTML = '<div id="text"><h1>Local alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("smith_results") }}" method="POST"><h3>First sequence</h3><input type="text" name="sequence1" value={{ sequence1 }}><h3>Second sequence</h3><input type="text" name="sequence2" value={{ sequence2 }}><input type="submit"></form><h1>Optimal score</h1><p>{{ optimal_score }} </p><h1>Dynamic programming matrix</h1><pre>{{ dynamic_matrix }} </pre><h1>Optimal alignments</h1><pre>{{ optimal_alignments }} </pre></div>'; }
                    // alert("window.location.href);
                    document.getElementById("text").outerHTML = '<div id="text"><h1>Local alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("smith_results") }}" method="POST"><h3>First sequence</h3><input type="text" name="sequence1"><h3>Second sequence</h3><input type="text" name="sequence2"><input type="submit"></form></div>';
                }
                // if (window.location.href.indexOf("needleman-wunsch") !== -1) {
                //     if (window.location.href.indexOf("results") !== -1) { document.getElementById("text").outerHTML = '<div id="text"><h1>Local alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("smith_results") }}" method="POST"><h3>First sequence</h3><input type="text" name="sequence1" value={{ sequence1 }}><h3>Second sequence</h3><input type="text" name="sequence2" value={{ sequence2 }}><input type="submit"></form><h1>Optimal score</h1><p>{{ optimal_score }} </p><h1>Dynamic programming matrix</h1><pre>{{ dynamic_matrix }} </pre><h1>Optimal alignments</h1><pre>{{ optimal_alignments }} </pre></div>'; }
                //     else { document.getElementById("text").outerHTML = '<div id="text"><h1>Global alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("needleman_results") }}" method="POST"><h3>First sequence</h3><input type="text" name="sequence1"><h3>Second sequence</h3><input type="text" name="sequence2"><input type="submit"></form></div>'; }
                // }
            }
            // function resultsSelect() {   
            //     alert(window.location.href);
            //     if (window.location.href.indexOf("smith-waterman") !== -1) {
            //         // if (window.location.href.indexOf("smith-waterman/results") !== -1) {
            //             // alert("window.location.href");
            //             // document.getElementById("text").outerHTML = '<div id="text"><h1>Local alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("smith_results") }}" method="POST" onsubmit="elementsSelect()"><h3>First sequence</h3><input type="text" name="sequence1" value={{ sequence1 }}><h3>Second sequence</h3><input type="text" name="sequence2" value={{ sequence2 }}><input type="submit"></form><h1>Optimal score</h1><p>{{ optimal_score }} </p><h1>Dynamic programming matrix</h1><pre>{{ dynamic_matrix }} </pre><h1>Optimal alignments</h1><pre>{{ optimal_alignments }} </pre></div>'; }
            //         // alert("window.location.href);
            //         document.getElementById("text").outerHTML = '<div id="text"><h1>Local alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("smith_results") }}" method="POST" onsubmit="resultsSelect()"><h3>First sequence</h3><input type="text" name="sequence1" value={{ sequence1 }}><h3>Second sequence</h3><input type="text" name="sequence2" value={{ sequence2 }}><input type="submit"></form><h1>Optimal score</h1><p>{{ optimal_score }} </p><h1>Dynamic programming matrix</h1><pre>{{ dynamic_matrix }} </pre><h1>Optimal alignments</h1><pre>{{ optimal_alignments }} </pre></div>';
            //     }
            //     // if (window.location.href.indexOf("needleman-wunsch") !== -1) {
            //     //     if (window.location.href.indexOf("results") !== -1) { document.getElementById("text").outerHTML = '<div id="text"><h1>Local alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("smith_results") }}" method="POST"><h3>First sequence</h3><input type="text" name="sequence1" value={{ sequence1 }}><h3>Second sequence</h3><input type="text" name="sequence2" value={{ sequence2 }}><input type="submit"></form><h1>Optimal score</h1><p>{{ optimal_score }} </p><h1>Dynamic programming matrix</h1><pre>{{ dynamic_matrix }} </pre><h1>Optimal alignments</h1><pre>{{ optimal_alignments }} </pre></div>'; }
            //     //     else { document.getElementById("text").outerHTML = '<div id="text"><h1>Global alignment</h1><p>explanation of equation used</p><h1>Input values</h1><form action="{{ url_for("needleman_results") }}" method="POST"><h3>First sequence</h3><input type="text" name="sequence1"><h3>Second sequence</h3><input type="text" name="sequence2"><input type="submit"></form></div>'; }
            //     // }
            // }
        </script>  
    </head>
    <body onload = "algorithmSelect()">
        <div id="page">
        	<div id="header">
                <h1>Bioinformatics algorithms calculator</h1>
            </div>
        </div>
        <div id="content">
            <div id="container">
                <div id="main">
                    <div id="menu">
                        <ul>
                            <li><a href="/" id="home">Home</a></li>
                            <li><a href="/smith-waterman" id="smith">Smith-Waterman</a></li>
                            <li><a href="/needleman-wunsch" id="needleman">Needleman-Wunsch</a></li>
                            <li><a href="/phylogenetic-tree" id="phylo">Phylogenetic tree</a></li>
                            <li><a href="/hmm" id="hmm">HMM</a></li>
                            <li><a href="/nussinov" id="nussinov">Nussinov</a></li>
                        </ul>
                    </div>
                    <div id="text">
                        <h1 id="summary-title">Gonna put a summary here</h1>
                        <p id="summary-text">It will sound really smart</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div id="footer">
                <p><a href="http://www.bryantsmith.com/template">adapted from free template provided</a> by <a href="http://www.bryantsmith.com">Bryant Smith</a></p>
            </div>
        </div>
    </body>
</html>